@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>



<div class="row g-0 auth-row min-vh-100">
    <div class=" d-flex justify-content-center">

        <form action="https://localhost:44330/Home/Index" method="post">
            <h2 class=" mt-4">Registrati</h2>
            <div class="d-flex">
                <div class="col-49 mt-4">
                    <label class=" mb-0" for="nome">Nome *</label><br>
                    <input class="form-control form-control-lg" type="text" name="nome" id="nome"
                           placeholder="Nome" minlength="3" required />
                </div>

                <div class="col-49 mt-4 offset-1">
                    <label class=" mb-0" for="cognome">Cognome *</label><br>
                    <input class="form-control form-control-lg" type="text" name="cognome" id="cognome"
                           placeholder="Cognome" minlength="3" required />
                </div>
            </div>


            <div class="col-12 position-relative mt-4">
                <label for="numero">Numero di telefono *</label>
                <input class="form-control form-control-lg" type="text" name="numero" id="numero"
                       placeholder="Numero di telefono" required />
            </div>

            <div class="col-12 mt-4">
                <label class=" mb-0" for="username">Email *</label><br>
                <input class="form-control form-control-lg mt-2" type="email" name="username" id="username"
                       placeholder="Email" required />
            </div>

            <div class="col-12 position-relative mt-4">
                <label class="form-label" for="password">Password *</label>
                <input class="form-control form-control-lg" type="password" name="password" id="password"
                       placeholder="Password" required minlength="8" />
            </div>

            <div class="col-12 position-relative mt-4">
                <label for="password2">Conferma Password *</label>
                <input class="form-control form-control-lg" type="password" name="password2" id="password2"
                       placeholder="Conferma Password" required minlength="8" />
            </div>


            <div class="col-12 mt-4 ">
                <input type="submit" class="btn btn-outline-dark w-100  " name="signupSubmit" value="Registrati" />
            </div>
        </form>

    </div>
</div>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
